@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, span {
  @apply user-select-none;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./fonts/GeistMonoVF.woff') format('woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.user-select-none {
  user-select: none;
}
